#!/bin/sh

exec chpst -u <%= node['gitlab-mtail']['user'] %> <%= @options[:binary_path] %> --progs <%= node['gitlab-mtail']['progs_dir'] %> --logs <%= format_log_paths(node['gitlab-mtail']['log_paths']) %>
